.btn {
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    color: $color-white;
    background-image: linear-gradient(to right, $color-lime-green, $color-bright-cyan);
    box-shadow: .2rem .3rem .8rem rgba(0,0,0, .2);
    border: 0;
    padding: 1.3rem 3.5rem;
    border-radius: 500px;

    transition: all .2s;

    &:hover {
        cursor: pointer;
        opacity: .7;
    }

    &:active {
        transform: scale(.95);
        box-shadow: .1rem .1rem .4rem rgba(0,0,0, .3);
    }

}